{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.bio }}</span>
  <span class="author_bio mbm">{{ author.job }}</span>
  {% include social-links.html %}
</div>
