@mixin media-query($device) {
  @media only screen and (min-width: $device) {
    @content;
  }
}
.sidebarContainer {
  background-color: pink;
  position: fixed;
  width: 100%;
  min-height: 250px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query(600px) {
    background-position: center;
    padding: 30px;
  }
  @include media-query(768px) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}

.bioContainer {
  position: relative;
  top: 250px;
  @include media-query(600px) {
    padding: 0 30px 0;
  }
  @include media-query(768px) {
    height: 100vh;
    overflow-y: scroll;
    position: initial;
    top: 0;
  }
  a {
    text-decoration: underline;
    font-weight: bold;
  }
}
