* {
  margin: 0;
  padding: 0;
}

.bioContainer {
  max-width: 800px;
  margin: 5rem auto;
  padding: 10px;
  @media (max-width: 768px) {
    margin: 1rem auto;
  }
}

.navigationContainer {
  justify-content: flex-start;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.intro {
  width: 100%;
  text-align: center;
  @media (min-width: 992px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.avatarContainer {
  img {
    max-height: 300px;
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}

.aboutMeContainer {
  margin: auto;
  span {
    color: $primary;
  }

  a {
    font-family: $font-family-primary;
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    padding: 1rem 2rem;
  }
}
