html, body {
  color: $text-color;
  background-color: $background-color;
  font-size: $font-size-base;
  font-family: $font-family-primary;
}

a {
  font-family: $font-family-secondary;
  color: $primary;
  &:hover,
  &:focus {
    color: lighten($primary, 14%);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.7;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: $text-color;
  &:hover,
  &:focus {
    color: lighten($text-color, 24%);
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

small,
.small {
  font-size: 80%;
  font-weight: normal;
}
