html, body {
  color: $text-color;
  background-color: $background-color;
  font-size: $font-size-base;
  font-family: $font-family-primary;
}

a {
  color: $primary;
  font-weight: 600;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: lighten($primary, 14%);
    text-decoration: underline !important;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: $text-color;
  &:hover,
  &:focus {
    color: lighten($text-color, 24%);
  }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }
