$font-size-h1: 2rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h3: 1.5rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1.15rem !default;
$font-size-h6: 1rem !default;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Raleway&family=Source+Code+Pro:wght@300&display=swap');

$font-family-primary: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-secondary: "Raleway", Helvetica, Arial, sans-serif !default;
$font-family-monospace: "Source Code Pro", monospace !default;

$text-color: rgba(0, 0, 0, 0.87) !default;
$background-color: #f5f5f5;

$white: #fff;
$primary: #B05574;
$secondary: #5E9FA3;

$font-size-root: 15px !default;
$font-size-base: $font-size-root !default;

$base-line-height: 1.5;
