<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="row">
      <div class="col s12 m3 l3">
        <div class="table sidebar-container">
          {% include sidebar.html %}
        </div>
      </div>
      <div class="col s12 m9 l9"> 
        <div class="table bio-container">
          <div class="table-cell table-middle bio">
            <p>
              Hi, I'm Gabby Ortman, I'm a software engineer at <a href="http://www.rednovalabs.com/">Red Nova Labs</a> working with React, Ruby on Rails, and the consequences of abandoned languages and frameworks.  
            </p>
            <p>
              Outside of work, you'll probably find me volunteering at <a href="https://kcwomenintech.org/">Kansas City Women in Technology</a> events, drawing in local coffee shops, bouldering, running, and spoiling my rabbit, Smalls.
            </p>
            <p>
              I studied computer science at <span>Iowa State University</span> and graduated in 2017. While there, I kept myself busy running <a href="http://digitalwomen.ece.iastate.edu/">Digital Women</a>, acting as a student liason on the <span>Computer Science Student Advisory Council</span>, participating in <span>hackathons</span>, and volunteering for STEM activities.
              <br />
              Before <span>Red Nova Labs</span>, I did three internships, two of which were at <span>Cerner Corporation</span>, and one NSF REU.
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
    {% include js.html %}
  </body>
</html>
